/*@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');*/
*{ font-family: 'Itim', cursive}
input[type=text] {
    width: 25%;
    padding: 10px 20px;
    margin: 5px 0;
    border: 1px solid black;
    font-size: 100%;
    /*font-size-adjust: auto;*/
    border-radius: 10px;
    font-family: 'Times New Roman', Times, serif;

}
input[type=password] {
    width: 25%;
    padding: 10px 20px;
    margin: 5px 0;
    border: 1px solid black;
    border-radius: 10px;
    font-family: 'Times New Roman', Times, serif;

}
input[type=submit] {
    width: 10%;
    padding: 12px 20px;
    border: 1px solid #555;
    background-color: black;
    color:white;
    border-radius: 10px;
}

.button {
    width: 10%;
    padding: 12px 20px;
    border: 1px solid #555;
    background-color: black;
    color:white;
    align-content: center;
    border-radius: 10px;
}

body  {
    /*background-image: url("employee.png");*/
    background-color: #cccccc;
    background-position:center;
    background-size:cover;
    text-decoration-style: wavy;
    background-repeat: no-repeat;
    width:auto-inherit;
    height:40%;
}
.pathlogin{
    height: 50px;
    font-family: 'Times New Roman', Times, serif;
    margin: 20px;
}
.pathlogin p{
    height: 50px;
    widows: 20px;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}
.form span{
    font-family: 'Times New Roman', Times, serif;
    font-size: 22px;
}