
.pathlogin{
    height: 50px;
    font-family: 'Times New Roman', Times, serif;
    margin: 15px;
}
.pathlogin p{
    height: 50px;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}



input[type=text] {
    width: 25%;
    padding: 10px 20px;
    margin: 12px 0;
    border: 1px solid black;
    font-family: 'Times New Roman', Times, serif;
}
input[type=submit] {
    width: 10%;
    padding: 12px 20px;
    border: 1px solid #555;
    background-color:black;
    color:white;
    font-family: 'Times New Roman', Times, serif;
    display: inline;


}
.button {
    font-family: 'Times New Roman', Times, serif;
    width: 10%;
    padding: 12px 20px;
    border: 1px solid #555;
    background-color: black;
    color:white;
    display: inline;
}
input[type=password] {
    width: 25%;
    font-family: 'Times New Roman', Times, serif;
    padding: 10px 20px;
    margin: 5px 0;
    border: 1px solid black;
    margin: 10px ;
}

input[type=email] {
    width: 25%;
    font-family: 'Times New Roman', Times, serif;
    padding: 10px 20px;
    margin: 12px ;
    margin: 5px 0;
    border: 1px solid black;
}
body  {
    font-family: 'Times New Roman', Times, serif;
    background-image: url("aal3.jpg");
    background-color: #cccccc;
    background-position:center;
    background-size:cover;
    text-decoration-style: wavy;
    background-repeat: no-repeat;
    width:auto-inherit;
    height:40%;

}

*{
    border-radius: 10px;
    font-family: 'Times New Roman', Times, serif;
}

.textfield p{
    text-align: center;
}